/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex; /*creating equal columns */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* represents a percentage of the height of the viewport, which is the visible area of a web page in the browser window.*/
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* subtle, slightly blurred shadow with no horizontal or vertical offset to the element, semi-transparent due to the alpha value of 0.2 */
    text-align: center;
    max-width: 400px;
}

.login-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-register {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

/* Add more styles as needed */
